 
     {{>header}}
    <section>
      <div class="container">
        <h1>{{title}}</h1>
         <p>{{body}}</p>
            <p>{{name}}</p>
               <p>{{address}}</p>
                  <p>{{email}}</p
                     <p>{{body}}</p>
        
      </div>
    </section> 
    {{>footer}}
 